/*  */
@media (max-width: 900px) {
    .logo {
        margin: 25px 0 0 25px;
    }
    .menu {
        padding-top: 112px;
    }
    /* ハンバーガーメニュー */
    .openbtn {
        width: 75px;
        height: 75px;
    }
    .openbtn span{
        position: absolute;
        left: 20px;
        width: 35px;
    }
    .openbtn span:nth-of-type(1) {
        top: 26px;	
    }
    .openbtn span:nth-of-type(2) {
        top: 37px;
    }
    .openbtn span:nth-of-type(3) {
        top: 48px;
    }
    .openbtn.active span:nth-of-type(1) {
        top: 32px;
        left: 20px;
    }
    .openbtn.active span:nth-of-type(3){
        top: 45px;
        left: 20px;
    }
    /* メインビジュアル */
    .main-visual img {
        height: 300px;
    }
    .main-visual li {
        width: 100%;
    }
    .main-text {
        top: 400px;
        left: 0px;
        width: 100%;
        padding: 0 16px;

    }
    h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .btn02 {
        width: 100%;
        
    }
    /* 理由 */
    .reason-top {
        margin-top: 560px;
        padding: 60px 0;
    }
    h3 {
        font-size: 28px;
    }
    h3::after {
        width: 80px;
        top: 60px;
    }
    .reason-bottom {
        padding: 40px 0;
    }
    .reason {
        padding: 15px 0;
        width: 95%;
        padding-right: 10px;
        line-height: 1.5;
    }
    .reason img {
        margin: 0px 30px 0px 20px;
    }
    .reason-text h4 {
        font-size: 24px;
    }
    /* 受験生の声 */
    .student-voice {
        padding: 80px 0;
    }
    .students {
        padding-top: 20px;
    }
    .student {
        margin-top: 40px;
    }
    .student1 {
        flex-direction: column-reverse;
    }
    .student2 {
        flex-direction: column;
    }
    .student-text {
        width: 93%;
        margin: 0 0 30px 0;
    }
    .student-text1::before ,.student-text2::after {
        border-top: 15px solid #E9F1FB;
        border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid transparent;
        top:100%;
        left:50%;
        right:50%;
        transform: translate(-50%);
    }
    /* スクールの概要 */
    .summary {
        padding-bottom: 28px;
    }
    .summary-wrap {
        margin-top: 60px;
        justify-content: center;
    }
    .summary-box {
        width: 93%;
        padding: 30px;
        height: 232px;
        margin-bottom: 32px;
    }
    .summary-box h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .english {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .summary-text {
        text-align: left;
    }
    /* 申し込む */
    .entry {
        padding: 80px 15px;
    }
    .entry h4 {
        font-size: 24px;
    }
    .entry p{
        font-size: 16px;
    }
    .btn03 {
        font-size: 24px;
        height: 61px;
    }
    footer {
        padding: 57px 15px 20px 15px;
    }
    /* フッター */
    .footer-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-menu {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-menu h4 {
        font-size: 15px;
    }
    .footer-menu li {
        font-size: 12px;
    }
    .footer-bottom {
        font-size: 10px;
        margin-top: 30px;
    }
}
