@charset "utf-8";
body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    color: #333333;
    letter-spacing: 0.1em;
    line-height: normal;
}
a {
    display: inline-block;
    transition: 0.3s ease-in-out;
}
h1,h2,h3,h4 {
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* ヘッダー */
header {
    font-weight: bold;
}
.logo {
    width: 100px;
    margin: 40px 0 30px 50px;
    position: absolute;
    top: 0;
}
/* メニュー */
nav {
    background-color: #FF2A2A;
    color: #fff;
    height: 100vh;
    position: fixed;
    top:0;
    width: 100%;
    display: none;
    z-index: 9;
}
.menu {
    text-align: center;
    padding-top: 80px;
}
.menu li {
    font-size: 16px;
    margin-bottom: 18px;
}
.btn01 {
    width: 250px;
    height: 51px;
    margin: 22px auto;
    border: 1px solid #fff;
    line-height: 50px;
    position: relative;
}
.btn01::after {
    content: "";
    width: 250px;
    height: 51px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    top: 6px;
    left: 6px;
}
.btn01:hover {
    background-color: #fff;
    color: #FF2A2A;
}
/* ハンバーガーメニュー */
.openbtn{
	position: fixed;
	background:#FF2A2A;
	cursor: pointer;
    width: 100px;
    height:100px;
    top: 0;
    left: calc(100vw - 100px);
    z-index: 10;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 25px;
    height: 2px;
	background: #fff;
  	width: 50%;
}
.openbtn span:nth-of-type(1) {
	top: 36px;	
}
.openbtn span:nth-of-type(2) {
	top: 50px;
}
.openbtn span:nth-of-type(3) {
	top: 64px;
}
.openbtn.active span:nth-of-type(1) {
    top: 40px;
    left: 26px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}
.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}
.openbtn.active span:nth-of-type(3){
    top: 51px;
    left: 26px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}
/* メインビジュアル */
.main-visual img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}
.main-visual li {
    width: 75%;
    position: absolute;
    top: 100px;
    right: 0;
}
.main-visual li::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 20px 20px #fff;
}
.main-text {
    position: absolute;
    top: 380px;
    left: 9.6%;
}
h2{
    font-size: 46px;
    font-weight: bold;
    line-height: 1.45;
    margin-bottom: 30px;
    text-shadow: #fff 1px 0 10px;
}
.btn02 {
    width: 479px;
    font-size: 24px;
    line-height: 61px;
    background-color: #FF0033;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 6px #7A051C;
    padding-left: 40px;
}
.btn02 i {
    float: right;
    line-height: 61px;
    margin-right: 20px;
}
.btn02:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
/* 理由 */
section {
    text-align: center;
}
.reason-top {
    margin-top: 820px;
    padding: 90px 0 120px 0;
}
h3 {
    font-size: 36px;
    position: relative;
}
h3::after {
    content: "";
    width: 100px;
    border-bottom: 3px solid #333333;
    position: absolute;
    top: 77.6px;
    left:50%;
    transform: translate(-50%);
}
.reason-bottom {
    background-color: #FF2A2A;
    padding: 60px 0 100px 0;
}
.reason {
    padding: 70px 0;
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.reason img {
    height: 60px;
    margin-right: 30px;
}
.reason-text {
    text-align: left;
}
.reason-text h4 {
    font-size: 28px;
    color: #FF2A2A;
    line-height: 35px;
}
.reason-text p {
    font-size: 18px;
}
.reason1 {
    border-radius: 0 20px 20px 0;
    margin-bottom: 40px;
}
.reason2 {
    margin: 0 0 0 auto;
    border-radius: 20px 0 0 20px;
}
/* スライドイン */
.fade-in {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform,display;
  }
  .fade-in-left {
    transform: translate(-50%, 0);
  }
  .fade-in-right {
    transform: translate(50%, 0);
  }
.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }
  /* 受験生の声 */
.student-voice {
    padding: 100px 0 120px 0;
}
.students {
    max-width: 860px;
    margin: 0 auto;
    padding-top: 40px;
}
.student {
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.student2{
    justify-content: right;
}
.student img {
    width: 120px;
    height: 120px;
    background-color: #CCCCCC;
    border-radius: 50%;
    margin-bottom: 10px;
}
.student-text {
    width: 514px;
    padding: 20px;
    background-color: #E9F1FB;
    border-radius: 15px;
    margin: 0 25px;
    text-align: left;
    position: relative;
}
.student-text1::before {
    content: "";
    border-top: 15px solid transparent;
    border-right: 15px solid #E9F1FB;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 60%;
    left: -15px;
}
.student-text2::after {
    content: "";
    border-top: 15px solid transparent;
    border-left: 15px solid #E9F1FB;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 60%;
    right: -15px;
}
/* ズームイン */
.zoomin{
	animation-name:zoomInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
}
@keyframes zoomInAnime{
  from {
	transform: scale(0.6);
    opacity:0;
  }
  to {
      transform: scale(1);
      opacity:1;
  }
}
.student {
    opacity: 0;
}
/* スクールの概要 */
.summary {
    background-image: url(img/bg.gif);
    background-size: 700px;
    padding: 60px 0 25px 0;
    animation: bg 10s infinite linear;
}
@keyframes bg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -700px 700px;
    }
}
.summary-wrap{
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.summary-box {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 35px;
    padding: 60px;
}
.summary-box h4 {
    font-size: 28px;
    margin-bottom: 15px;
}
.english {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.summary-text {
    text-align: left;
}
/* 申し込む */
.entry {
    padding: 120px 0;
}
.entry h4 {
    font-size: 32px;
}
.entry p {
    font-size: 18px;
}
.btn03 {
    background-color: #FF2A2A;
    max-width: 860px;
    display: block;
    margin: 0 auto;
    font-size: 28px;
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 35px;
    padding: 10px 0;
    height: 66px;
    border: 3px solid #FF2A2A;
}
.btn03:hover {
    background-color: #fff;
    color: #FF2A2A;
    border: 3px solid #FF2A2A;
}
footer {
    background-color: #E8E8E8;
    padding: 57px 0 20px 0;
}
.footer-wrap {
    display: flex;
    max-width: 860px;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-menu h4 {
    font-size: 16px;
    margin-bottom: 8px;
}
.footer-menu li {
    margin-left: 10px;
    line-height: 1.5;
}
.footer-bottom {
    margin-top: 55px;
    text-align: center;
    line-height: 1;
}